.image-gallery {
  /* max-width: 350px; */
  width: 100%;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus,
.image-gallery-icon:hover {
  border-color: rgb(201, 163, 143);
  color: rgb(201, 163, 143);
}
